<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>

    <title>Fototeca IronHack 2024</title>
  </head>

  <body>
    <header class="container">
      <!-- Añadir partials con esta sintaxis y la ruta relativa al partial -->
      <%- include('./partials/nav') %>
    </header>
    <main class="container">
      <!--Si no hay imagenes en la fototeca, animamos al usuario a añadir, si hay, mostramos el número de imágenes disponibles-->
      <% if (images.length == 0) { %>
      <p>
        Todavía no hay imágenes en la fototeca.
        <a href="/add-image-form">Añade una ahora</a>
      </p>
      <% } else { %>
      <p>La fototeca tiene <%= images.length %> imágenes.</p>
      <% } %>

      <!--Add select that receives tags from tagsArr and client can filter by tags-->
      <% if (tagsArr.size > 0) { %>
        <form action="/filter" method="get" id="filterForm">
        <select name="selectedTag" aria-label="Select" id="selectedTag" required onchange="filterImages()">
          <option selected disabled value="">Ver por etiqueta</option>
          <% tagsArr.forEach(tag => { %>
          <option value="<%= tag %>" onchange="filterImages()">
            <%= tag %>
          </option>
          <% }) %>
        </select>
      </form>
        <% } %>

      <section class="gallery">
        <!-- Estos tags significa que lo que viene a continuación es puro código JavaScript-->
        <% images.forEach( i => { %>

        <article class="gallery__item">
          <img src="<%= i.imageUrl %>" alt="<%= i.title %>" />
          <p class="image__title"><%= i.title %></p>
          <p class="image__date"><%= i.datePic %></p>
          <% if (i.tags) { %>
          <div class="tags">
            <% JSON.parse(i.tags).forEach(tag => { %>
            <div class="tag"><%= tag.value %></div>
            <% }) %>
          </div>
          <% } %>
          <div
            class="dominant-color"
            style="background-color: <%= i.dominantColor %>"
          >
            <%= i.dominantColor %>
          </div>
          <form
            action="/images/<%= i.id %>/delete"
            method="post"
            onsubmit="confirmDelete(event, '<%= i.title %>')"
          >
            <input type="submit" value="Delete" />
          </form>
        </article>

        <% }) %>
      </section>
    </main>
    <script>
      function confirmDelete(event, title) {
        const mustDelete = confirm(
          `¿Seguro que quieres borrar la imagen ${title}?`
        );

        // JavaScript lado cliente: si nos dice que NO quiere borrar la foto tenemos que parar el submit del form
        if (!mustDelete) {
          event.preventDefault();
        }
      }
      function filterImages() {
        document.getElementById("filterForm").submit();
      }
    </script>
  </body>
</html>
