<!DOCTYPE html>
<html lang="en">
  <head>

    <%- include('./partials/head') %>

    <title>Fototeca IronHack 2024</title>

  </head>

  <body>
    <header class="container">
              <!-- Añadir partials con esta sintaxis y la ruta relativa al partial -->
              <%- include('./partials/nav') %>
    </header>
    <main class="container">
      <!--Si no hay imagenes en la fototeca, animamos al usuario a añadir, si hay, mostramos el número de imágenes disponibles-->
      <% if (images.length == 0) { %>
       <p>Todavía no hay imágenes en la fototeca. 
        <a href="/add-image-form">Añade una ahora</a></p>
      <% } else { %>
        <p>La fototeca tiene <%= images.length %> imágenes.</p>
        <% } %>
          <section class="grid">
          <!-- Estos tags significa que lo que viene a continuación es puro código JavaScript-->
        <% images.forEach( i => { %>

          <article class="container-fluid card">
          <img src="<%= i.imageUrl %>" alt= "<%= i.title %>">            
            <p><%= i.title %></p>
            <p><%= i.datePic %></p>
        </article>

        <% }) %>
      </section>
    </main>
  </body>
</html>
